[submodule "deeplab_pytorch"]
	path = deeplab_pytorch
	url = https://github.com/kazuto1011/deeplab-pytorch
[submodule "mmsegmentation"]
	path = mmsegmentation
	url = https://github.com/open-mmlab/mmsegmentation
[submodule "unet"]
	path = unet
	url = https://github.com/milesial/Pytorch-UNet/
